@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap');
*{
    font-family: 'Texturina', serif;
}

.info{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom:300px;
}

.info .numerique{
    text-align: center;
}

.info .emmeteur{
    text-align: center;
}

.info .recepteur{
    text-align: center;
}